<% layout("/layouts/boilerplate") %>

   
    <div class="row">
      <div class="col-8 offset-2" >
        <body>
          <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
       
      <div class="mb-3"> 
        <label for="edittitle">Title</label><br />
        <input name="listing[title]" value="<%= listing.title %>" type="text" id="edittitle" />

        </div>
       <br />

      <div class="mb-3"> 
        <label for="editdescription">Description</label><br />
        <textarea id="editdescription" name="listing[description]">
          <%= listing.description %></textarea 
                >
        </div>
       
      <br />

      <div class="mb-3"> 
        <label for="editimage">Image</label><br />
        <input name="listing[image]" value="<%= listing.image %>" type="text" />

        </div>
       <br />

      <div class="mb-3"> 
        <label for="editprice">Price</label><br />
        <input name="listing[price]" value="<%= listing.price %>" type="number" id="editprice"/>

        </div>
       <br />


      <div class="mb-3"> 
        <label for="editcountry">Country</label><br />
        <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text" id="editcountry"
      />
        </div>
       
      <br /> 

      <div class="mb-3"> 
        <label for="editlocation">Location</label><br />
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
      />
        </div>
       
    
      <button id="button2">Edit</button>
      
    </form>
  </body>
</div>
</div>